* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
/* why doesnt positon fixed work here? */
#nav-bar {
    display: flex;
    background-color: dodgerblue;
    color: white;
    width: 100%
}

nav {
    display: flex;
    flex-grow: 2;
    align-items: center;
    justify-content: space-around;
}

a {
    color: white
}

a:hover{
    font-weight: bold;
}

#title {
    /* margin-right: auto */
    flex-grow: 1;
    margin-left: 1rem
}

/* #users {
    display: flex;
    justify-content: center
} */

.heading {
    margin-left: 1rem
}

#create {
    display: flex;
    justify-content: center;
}

#inputs {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 1rem;
    width: 60%;
    margin: 6px;
 }

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button:hover{
    background: dodgerblue;
    color: white
}

/* i forced the spsacing w margins, can i use align items here somehow */
/* also how do i keep the field labels from wrapping when i resize screen */
.field {
    display: flex;
    justify-content: flex-end;
    margin: 8px 0;
}

.field input,select {
    flex-basis: 80%
}

.field label {
    margin-right: auto
}

.boxes {
    display: flex;
    flex-wrap: wrap;
}

.box {
    flex-basis: calc(100%/3 - 6px);
    text-align: center;
    border-radius: 20px;
    border: 1px solid gray;
    margin: 3px
}

@media (max-width: 740px) {
    #nav-bar {
        display: flex;
        flex-direction: column;
    }
    nav {
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
        align-items: flex-start;
    }
    .nav-item {
        padding: 10px 0
    }
    #create {
        justify-content: flex-start;
    }
    #inputs {
        width: 100%;
     }
     .box {
        flex-basis: 100%;
    }
    .field {
        flex-direction: column;
    }
    /* test change */
}